<!DOCTYPE html>	
<html>
	<head>
		<script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
		<title>a-Frame</title>
	</head>
	<body>
    <a-scene id="scene">
    	<a-assets>
        <a-asset-item id="tower-obj" src="./modules/clock-tower-obj/clock-tower.obj"></a-asset-item>
    		<a-asset-item id="tower-mtl" src="./modules/clock-tower-obj/clock-tower.mtl"></a-asset-item>
      </a-assets>
      	<a-triangle color="#CCC"></a-triangle>
        <a-obj-model src="#tower-obj" mtl="#tower-mtl"></a-obj-model>
    	</a-scene>
		</body>
	</head>
</html>